$primaty-color: #9356dc;
$secondary-color: #ff70da;
$tertiatry-color: #99e2d0;
$font-title: "Shrikhand", sans-serif;
$font-text: "Roboto", sans-serif;
$size-title: 25px;
$size-text: 18px;
$intial-color: initial;
