// @import "./abstracts/extensions";
// @import "./abstracts/functions";
@import "./abstracts/mixins";
@import "./abstracts/variables";
// @import "./base/base";
@import "./base/typography";
// @import "./components/button";
@import "./layout/footer";
@import "./layout/header";
// @import "./layout/nav";
@import "./pages/home.scss";
@import "./pages/restau";

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0%;
}

ul {
  margin: 0;
  padding: 0%;
}

a {
  text-decoration: none;
  color: $intial-color;
}
