@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0%;
}

ul {
  margin: 0;
  padding: 0%;
}

h1,
h2 {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  font-weight: bold;
}

h3,
p,
a {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: initial;
}

.block-location__location {
  font-weight: bold;
}

.block-logo-footer__logo {
  font-family: 25px;
}

.block-menu__titre {
  font-size: 30px;
  font-weight: normal;
}
.block-menu__choix > h2 {
  font-size: 20px;
  font-weight: normal;
}
.block-menu__plats > h3 {
  font-weight: bold;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.block-menu__plats > p {
  font-size: 18px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.block-menu__prix > p {
  font-size: 18px;
}

footer {
  background-color: #353535;
  color: white;
  padding: 0 25px 0 25px;
}

.block-logo-footer {
  padding: 20px 0 20px 0;
}
.block-logo-footer__logo {
  color: white;
  font-size: 20px;
}

.block-footer__icon {
  width: 25px;
}
.block-footer__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  height: auto;
  grid-gap: 10px;
  grid-template-areas: "puce1" "puce2" "puce3" "puce4";
}
.block-footer__list > puce1 {
  grid-area: puce1;
}
.block-footer__list > puce2 {
  grid-area: puce2;
}
.block-footer__list > puce3 {
  grid-area: puce3;
}
.block-footer__list > puce4 {
  grid-area: puce4;
}
.block-footer__puce {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.block-footer__link {
  color: white;
}

.block-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.block-logo__logo {
  margin: 25px 0 10px 0;
  height: 30px;
}

.block-location {
  background-color: #eaeaea;
}
.block-location__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.block-location__location {
  white-space: nowrap;
  margin: 15px 20px 15px 15px;
}

.block-reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 40px 25px 50px 25px;
  background-color: #f6f6f6;
}
.block-reservation__title {
  max-width: 250px;
}
.block-reservation__text {
  margin: 10px 0 30px 0;
}
.block-reservation__btn {
  margin: 0;
  color: white;
  padding: 15px 0;
  width: 240px;
  border-radius: 200px;
  background: linear-gradient(177deg, #ff79da 0%, #9356dc 100%);
  border: none;
  box-shadow: 0 0 5px 0 #2b2a2a3b;
  height: auto;
}

.block-fonctionnement {
  padding: 0 25px 60px 25px;
  position: relative;
}
.block-fonctionnement__grid {
  padding-left: 15px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: auto;
  grid-gap: 40px;
  grid-template-areas: "list1" "list2" "list3";
}
.block-fonctionnement__grid > list1 {
  grid-area: list1;
}
.block-fonctionnement__grid > list2 {
  grid-area: list2;
}
.block-fonctionnement__grid > list3 {
  grid-area: list3;
}
.block-fonctionnement__title {
  padding: 50px 0 40px 0;
}
.block-fonctionnement__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 15px;
  max-width: 290px;
  background-color: #f6f6f6;
  box-shadow: 0 0 5px 0 #2b2a2a3b;
}
.block-fonctionnement__number {
  background-color: #9356dc;
  color: white;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  position: absolute;
  transform: translateX(-50%);
}
.block-fonctionnement__icon {
  margin: 0 15px 0 25px;
  color: #7e7e7e;
}
.block-fonctionnement__text {
  margin: 10px 0 10px 0;
}

.block-restaurants {
  background-color: #f6f6f6;
  padding: 40px 25px 60px 25px;
}
.block-restaurants__title {
  padding: 0 0 25px 0;
}
.block-restaurants__grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  height: auto;
  grid-gap: 40px;
  grid-template-areas: "restau1" "restau2" "restau3" "restau4";
}
.block-restaurants__grid > restau1 {
  grid-area: restau1;
}
.block-restaurants__grid > restau2 {
  grid-area: restau2;
}
.block-restaurants__grid > restau3 {
  grid-area: restau3;
}
.block-restaurants__grid > restau4 {
  grid-area: restau4;
}
.block-restaurants__restau {
  position: relative;
}
.block-restaurants__block-img {
  height: 190px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.block-restaurants__new {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #99e2d0;
  color: #1b6150;
  padding: 10px 20px;
}
.block-restaurants__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
.block-restaurants__caption {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 0px 20px 0px #1d1d1d2e;
  padding: 20px;
}
.block-restaurants__btn {
  border: none;
  background-color: white;
}

.background-restau {
  width: 100%;
  height: 300px;
}
.background-restau__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.block-menu {
  background-color: #f6f6f6;
  border-radius: 30px 30px 0 0;
  padding: 0 15px 0 15px;
}
.block-menu__restau {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 10px 0;
}
.block-menu__titre {
  font-family: "Shrikhand", sans-serif;
}
.block-menu__choix {
  display: grid;
}
.block-menu__choix > h2 {
  margin: 20px 0 10px 0;
}
.block-menu__validation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  align-items: flex-end;
  border-radius: 20px 20px 20px 20px;
  padding: 10px 20px 10px 10px;
  margin: 8px 0;
  box-shadow: 0px 0px 20px 0px #1d1d1d2e;
  overflow: hidden;
}
.block-menu__plats {
  overflow: hidden;
  white-space: nowrap;
}
.block-menu__prix {
  font-weight: bold;
}
.block-menu__container-btn {
  display: flex;
  justify-content: center;
  padding: 30px 0 50px 0;
}
.block-menu__btn {
  margin: 0;
  color: white;
  padding: 15px 0;
  width: 240px;
  border-radius: 200px;
  background: linear-gradient(177deg, #ff79da 0%, #9356dc 100%);
  border: none;
  box-shadow: 0 0 5px 0 #2b2a2a3b;
  height: auto;
}

/*# sourceMappingURL=style.css.map */
