@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Shrikhand&display=swap');

h1, h2 {
    @include main-typo;
    font-size: $size-title;
    font-weight: bold;
}

h3, p {
    @include main-typo;
    font-size: $size-text;
}

.block-location {
    &__location {
        font-weight: bold;
    }
}