@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');

h1,
h2 {
  @include main-typo;
  font-size: $size-title;
  font-weight: bold;
}

h3,
p,
a {
  @include main-typo;
  font-size: $size-text;
}

.block-location {
  &__location {
    font-weight: bold;
  }
}

.block-logo-footer {
  &__logo {
    font-family: $font-title;
  }
}

.block-menu {
  &__plats {
    &> h3 {
      font-weight: bold;
      font-size: 20px;
    }
  }
}
